pre {
    color: orange;
}
.redPre {
    color: red;
}
#greenPre {
    color: lightgreen;
}
.pseudo {
    color: aqua;
}
.pseudo:hover {
    color: blue;
}
li:first-child:hover{
    color: plum;
}
li:last-child:active{
    color: lightseagreen;
}
li:nth-child(3):hover{
    color: pink;
}
p + pre {
    color: yellow;
}
p ~ pre {
    color: grey;
}
section > p{
    color:green;
}
.example p,h5{
    color: gold;
}